.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1350px;
    height: 500px;
    gap: 100px;
    margin: 0px auto;

    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;





}

.elemento {
    position: relative;
    height: 500px;
    width: 350px;

}

.fones {
    position: fixed;
    text-align: center;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #C41230;
    margin-bottom: 0;
    font-family:'Franklin Gothic';
    

}

.titulo {
    position: fixed;
    text-align:right;
    position: relative;
    font-size: 60px;
    font-weight: bold;
    color: #C41230;
}

.texto {
    top: 20px;
    height: 300px;
    font-size: 28px;
    text-align:justify;
    font-family:'Franklin Gothic';
    color: #333;
}