.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1350px;
    height: 500px;
    gap: 50px;
    margin: 0px auto;

    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;




}

.elemento {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: #c6c6c6;
}

.fones {
    position: fixed;
    text-align: center;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #C41230;
    margin-bottom: 0;
    

}

.titulo {
    position: fixed;
    text-align: center;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    color: #C41230;
}