.funcionario{
    position: relative;
    width: 400px;
    height: 300px;
    z-index: 9999;

    justify-content: center;
    align-items: center;
    

}






.fotoFuncionario{
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 9998;
    background-color: #f1f1f1;
    border-radius: 50%;
}



.nomeFuncionario{
    position: relative;
    top: 10px;
    color: #333;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.cargoFuncionario{
    position: relative;
    top: 10px;
    color: red;
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}