.quadroFuncionarios {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    margin: 200px auto;
    top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}